## Capstone 2: Twitter Data Scraping

Visit the Application Management page at https://apps.twitter.com/, and sign in with your Twitter account

- Click on the "Create New App" button, fill in the details and agree the Terms of Service
- Navigate to "Keys and Access Tokens" section and take a note of your Consumer Key and Secret
- In the same section click on "Create my access token" button
- Take note of your Access Token and Access Token Secret

In [20]:
# import libraries
import tweepy
import csv
import pandas as pd
import time
import os

In [21]:
# input credentials (keys and Access tokens)

consumer_key = 'hoxaNCoEPTzag21rnrM9DgVLO'
consumer_secret = 'mOrO9LdpJsHpYxFPKS09acqxU3cfFCyBKg3IxE5FuQo4Wm1Blg'
access_token = '788192317350023168-FNFlFSR0jJSD0AHSTMkEpiscYDhp5Ug'
access_token_secret = 'fr3JKLbnJtWmXiDzhppfBSExUtFghQA3w7DISG03Xw5Ar'

##pass the credentials into Tweepyâ€™s OAuthHandler instance 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [22]:
# Define a function to scrape the tweets for different hashtags

def scrape_tweets(search_words, num_tweets, num_runs, csv_file_name):
    
    program_start = time.time()
    
    # Open/Create a file to append data
    csvFile = open(csv_file_name, 'a')
    #Use csv Writer
    csvWriter = csv.writer(csvFile)
    csvWriter.writerow(['user_name', 'user_desc', 'location', 'following',
                                        'followers', 'totaltweets', 'user_createdts', 'tweet_createdts',
                                        'retweet_count', 'text'])
    for i in range(0, num_runs):
        new_tweets = tweepy.Cursor(api.search, q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
        
        # transform the tweepy tweets into a 2D array 
        outtweets = [[tweet.user.screen_name,tweet.user.description,tweet.user.location,tweet.user.friends_count,
                  tweet.user.followers_count,tweet.user.statuses_count,tweet.user.created_at,
                  tweet.created_at,tweet.retweet_count, tweet.full_text] for tweet in new_tweets]
        
        csvWriter.writerows(outtweets)
        print("{} run completed!".format(i+1))
        time.sleep(920) #15 minute sleep time
    
    program_end = time.time()
    print('Scraping has completed!')
    print('Total time taken to scrape is {} minutes.'.format(round(program_end - program_start)/60, 2))

In [68]:
def scrape_tweets_2(search_words, num_tweets, num_runs, csv_file_name):
    
    program_start = time.time()
    
    # Open/Create a file to append data
    csvFile = open(csv_file_name, 'a')
    #Use csv Writer
    csvWriter = csv.writer(csvFile)
    #csvWriter.writerow(['user_name', 'user_desc', 'location', 'following',
                                        #'followers', 'totaltweets', 'user_createdts', 'tweet_createdts',
                                        #'retweet_count', 'text'])
    for i in range(0, num_runs):
        new_tweets = tweepy.Cursor(api.search, q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
        
        # transform the tweepy tweets into a 2D array 
        outtweets = [[tweet.user.screen_name,tweet.user.description,tweet.user.location,tweet.user.friends_count,
                  tweet.user.followers_count,tweet.user.statuses_count,tweet.user.created_at,
                  tweet.created_at,tweet.retweet_count, tweet.full_text] for tweet in new_tweets]
        
        csvWriter.writerows(outtweets)
        print("{} run completed!".format(i+1))
        time.sleep(920) #15 minute sleep time
    
    program_end = time.time()
    print('Scraping has completed!')
    print('Total time taken to scrape is {} minutes.'.format(round(program_end - program_start)/60, 2))

### Pulling tweets for #fashion

In [ ]:
search_tags = ['#fashion', '#style',  '#design',  '#beauty',  '#fashiontrends',  '#fashionblogger', '#fashionstyle',  '#fashionweek',  '#fashionstylist',  '#fashionmodel' , '#fasionista' , '#model',  '#fashionlover',  '#womenfashion', '#menfashion']

In [33]:
# Initialise these variables for #fashion
search_words = "#fashion OR #style OR #design OR #beauty OR #fashiontrends OR #fashionblogger OR #fashionstyle OR #fashionweek OR #fashionstylist OR #fashionmodel OR #fasionista OR #model OR #fashionlover OR #womenfashion OR #menfashion"
num_tweets = 200
num_runs = 50
csv_file_name = 'fashion_tweets_allf.csv'


# Call the function scrape_tweets
scrape_tweets(search_words, num_tweets, num_runs, csv_file_name)

1 run completed!
2 run completed!
3 run completed!
4 run completed!
5 run completed!
6 run completed!
7 run completed!
8 run completed!
9 run completed!
10 run completed!
11 run completed!
12 run completed!
13 run completed!
14 run completed!
15 run completed!
16 run completed!
17 run completed!
18 run completed!
19 run completed!
20 run completed!
21 run completed!
22 run completed!
23 run completed!
24 run completed!
25 run completed!
26 run completed!
27 run completed!
28 run completed!
29 run completed!
30 run completed!
31 run completed!
32 run completed!
33 run completed!
34 run completed!
35 run completed!
36 run completed!
37 run completed!
38 run completed!
39 run completed!
40 run completed!
41 run completed!
42 run completed!
43 run completed!
44 run completed!
45 run completed!
46 run completed!
47 run completed!
48 run completed!
49 run completed!
50 run completed!
Scraping has completed!
Total time taken to scrape is 771.0833333333334 minutes.

## Pulling tweets for #fashion (2nd, 3rd..10th time)  using the `scrape_tweets_2 ()` function

Every day I am pulling 10,000 tweets for 10 days.

In [101]:
# Initialise these variables for #fashion
search_words = "#fashion OR #style OR #design OR #beauty OR #fashiontrends OR #fashionblogger OR #fashionstyle OR #fashionweek OR #fashionstylist OR #fashionmodel OR #fasionista OR #model OR #fashionlover OR #womenfashion OR #menfashion"
num_tweets = 200
num_runs = 50
csv_file_name = 'fashion_tweets_allf.csv'


# Call the function scrape_tweets
scrape_tweets_2(search_words, num_tweets, num_runs, csv_file_name)

1 run completed!
2 run completed!
3 run completed!
4 run completed!
5 run completed!
6 run completed!
7 run completed!
8 run completed!
9 run completed!
10 run completed!
11 run completed!
12 run completed!
13 run completed!
14 run completed!
15 run completed!
16 run completed!
17 run completed!
18 run completed!
19 run completed!
20 run completed!
21 run completed!
22 run completed!
23 run completed!
24 run completed!
25 run completed!
26 run completed!
27 run completed!
28 run completed!
29 run completed!
30 run completed!
31 run completed!
32 run completed!
33 run completed!
34 run completed!
35 run completed!
36 run completed!
37 run completed!
38 run completed!
39 run completed!
40 run completed!
41 run completed!
42 run completed!
43 run completed!
44 run completed!
45 run completed!
46 run completed!
47 run completed!
48 run completed!
49 run completed!
50 run completed!
Scraping has completed!
Total time taken to scrape is 771.2833333333333 minutes.

In [93]:
# Load data into a pandas DataFrame
fashion_df = pd.read_csv('fashion_tweets_allf.csv')
fashion_df.head()

,user_name,user_desc,location,following,followers,totaltweets,user_createdts,tweet_createdts,retweet_count,text
0,Michelleferg79,NaN,NaN,4981,669,98487,2013-10-25 18:38:52,2020-10-04 17:40:05,174,RT @AnythingGoesL: #Win the 3-Step Anthology f...
1,GillybeansH,NaN,England,4637,238,15409,2009-05-10 13:18:12,2020-10-04 17:40:05,476,RT @So_Lippy: Enter our #October #Competition ...
2,luccaromeo,"Everything has beauty, but not everyone sees i...","Los Angeles, CA",275,179,21939,2015-09-08 17:43:34,2020-10-04 17:40:03,0,Visage de Layla also offers waxing treatment h...
3,FashListings,Sell fashion? List your business for FREE in o...,"Northampton, UK",30747,35104,224859,2014-12-27 15:53:24,2020-10-04 17:40:03,0,Sell #fashion? Submit your website to our #dir...
4,_Fanii10,NaN,NaN,25,36,32,2015-06-21 21:26:09,2020-10-04 17:39:57,1,RT @theregoesjared: Candy Battle ğŸ¬ğŸ­ğŸ«\nStarburs...

In [94]:
# Find out total no of rows and columns
fashion_df.shape

(50000, 10)

In [95]:
# any missing value?
fashion_df.isnull().values.any()

True

In [96]:
# Count missing values
fashion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_name        50000 non-null  object
 1   user_desc        43714 non-null  object
 2   location         33476 non-null  object
 3   following        50000 non-null  int64
 4   followers        50000 non-null  int64
 5   totaltweets      50000 non-null  int64
 6   user_createdts   50000 non-null  object
 7   tweet_createdts  50000 non-null  object
 8   retweet_count    50000 non-null  int64
 9   text             50000 non-null  object
dtypes: int64(4), object(6)
memory usage: 3.8+ MB

In [97]:
# Total number of missing values
print(fashion_df.isnull().sum().sum())

22810

In [98]:
# Check for duplicate tweets 

duplicate_tweets_fashion = fashion_df.duplicated(subset='text', keep='first').sum()
duplicate_tweets_fashion

16416

In [76]:
# Number of users having less than 2000 followers
fashion_less2k = fashion_df[fashion_df['followers'] < 2000]
len(fashion_less2k)

15553

In [77]:
# number of users having more than 2000 followers
fashion_more2k = fashion_df[fashion_df['followers'] > 30000]
len(fashion_more2k)

357

In [100]:
def label_func(followers):
    if followers > 30000:
        return 1
    else:
        return 0
fashion_df['label'] = fashion_df['followers'].apply(label_func)
fashion_df.head()

,user_name,user_desc,location,following,followers,totaltweets,user_createdts,tweet_createdts,retweet_count,text,label
0,Michelleferg79,NaN,NaN,4981,669,98487,2013-10-25 18:38:52,2020-10-04 17:40:05,174,RT @AnythingGoesL: #Win the 3-Step Anthology f...,0
1,GillybeansH,NaN,England,4637,238,15409,2009-05-10 13:18:12,2020-10-04 17:40:05,476,RT @So_Lippy: Enter our #October #Competition ...,0
2,luccaromeo,"Everything has beauty, but not everyone sees i...","Los Angeles, CA",275,179,21939,2015-09-08 17:43:34,2020-10-04 17:40:03,0,Visage de Layla also offers waxing treatment h...,0
3,FashListings,Sell fashion? List your business for FREE in o...,"Northampton, UK",30747,35104,224859,2014-12-27 15:53:24,2020-10-04 17:40:03,0,Sell #fashion? Submit your website to our #dir...,1
4,_Fanii10,NaN,NaN,25,36,32,2015-06-21 21:26:09,2020-10-04 17:39:57,1,RT @theregoesjared: Candy Battle ğŸ¬ğŸ­ğŸ«\nStarburs...,0

## Pulling tweets for #fitness

In [ ]:
# Define a function to scrape the tweets for different hashtags

def scrape_tweets(search_words, num_tweets, num_runs, csv_file_name):
    
    program_start = time.time()
    
    # Open/Create a file to append data
    csvFile = open(csv_file_name, 'a')
    #Use csv Writer
    csvWriter = csv.writer(csvFile)
    csvWriter.writerow(['user_name', 'user_desc', 'location', 'following',
                                        'followers', 'totaltweets', 'user_createdts', 'tweet_createdts',
                                        'retweet_count', 'text'])
    for i in range(0, num_runs):
        new_tweets = tweepy.Cursor(api.search, q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
        
        # transform the tweepy tweets into a 2D array 
        outtweets = [[tweet.user.screen_name,tweet.user.description,tweet.user.location,tweet.user.friends_count,
                  tweet.user.followers_count,tweet.user.statuses_count,tweet.user.created_at,
                  tweet.created_at,tweet.retweet_count, tweet.full_text] for tweet in new_tweets]
        
        csvWriter.writerows(outtweets)
        print("{} run completed!".format(i+1))
        time.sleep(920) #15 minute sleep time
    
    program_end = time.time()
    print('Scraping has completed!')
    print('Total time taken to scrape is {} minutes.'.format(round(program_end - program_start)/60, 2))

In [42]:
# Initialise these variables for #fitness
search_words = "#fitness OR #workout OR #gym OR #healthy OR #fitnessmotivation OR #fitnessmodel OR #healthylifestyle OR #fit OR #mtivation OR #wellness OR #lifestyle OR #mindbody OR #training OR #exercise OR #exercise OR #firnesslife OR #healthandfitness OR #exercisemotivation"
num_tweets = 200
num_runs = 50
csv_file_name = 'fitness_tweets.csv'


# Call the function scrape_tweets
scrape_tweets(search_words, num_tweets, num_runs, csv_file_name)

1 run completed!
2 run completed!
3 run completed!
4 run completed!
5 run completed!
6 run completed!
7 run completed!
8 run completed!
9 run completed!
10 run completed!
11 run completed!
12 run completed!
13 run completed!
14 run completed!
15 run completed!
16 run completed!
17 run completed!
18 run completed!
19 run completed!
20 run completed!
21 run completed!
22 run completed!
23 run completed!
24 run completed!
25 run completed!
26 run completed!
27 run completed!
28 run completed!
29 run completed!
30 run completed!
31 run completed!
32 run completed!
33 run completed!
34 run completed!
35 run completed!
36 run completed!
37 run completed!
38 run completed!
39 run completed!
40 run completed!
41 run completed!
42 run completed!
43 run completed!
44 run completed!
45 run completed!
46 run completed!
47 run completed!
48 run completed!
49 run completed!
50 run completed!
Scraping has completed!
Total time taken to scrape is 770.7666666666667 minutes.

In [44]:
# Load data into a pandas DataFrame
fitness_df = pd.read_csv('fitness_tweets.csv')
fitness_df.head()

,user_name,user_desc,location,following,followers,totaltweets,user_createdts,tweet_createdts,retweet_count,text
0,anusualauthor,official tweet of Enigma Anu Aggarwal,"Mumbai, India",544,3743,2661,2010-04-30 12:38:54,2020-10-05 15:34:17,0,You get to know your #true #nature in that mom...
1,WhtIStheSCIENCE,Clinical Director #BCBA for @SpecialNeedsLA #A...,"Los Angeles, CA",1008,696,7214,2012-10-15 06:38:35,2020-10-05 15:34:07,1,RT @SpectrumSports8: Cone Flip Melee!! \n\n#do...
2,HeathAJordan,Entrepreneur/ Filmmaker/ CEO/ Producer/ Direct...,Sarasota Florida,6775,8567,50578,2011-06-21 22:56:28,2020-10-05 15:34:03,0,#RT @lucaslagoons: RT @LagoonsDesign: Want to ...
3,CeciliaMaundu,"Broadcast journalist, Specialist in Gender Dig...",Nairobi,888,754,7282,2012-01-11 04:09:14,2020-10-05 15:34:00,4,RT @PollicyOrg: Register for our next hands-on...
4,LidiaSegundoCar,NaN,NaN,722,772,591,2019-04-09 00:48:01,2020-10-05 15:33:54,1,RT @petertamayo: Nada #cambia si tu no cambias...

In [59]:
fitness_df.shape

(10000, 10)

In [60]:
fitness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_name        10000 non-null  object
 1   user_desc        9113 non-null   object
 2   location         7244 non-null   object
 3   following        10000 non-null  int64
 4   followers        10000 non-null  int64
 5   totaltweets      10000 non-null  int64
 6   user_createdts   10000 non-null  object
 7   tweet_createdts  10000 non-null  object
 8   retweet_count    10000 non-null  int64
 9   text             10000 non-null  object
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [61]:
# Check for duplicate tweets 

duplicate_tweets_fitness = fitness_df.duplicated(subset='text', keep='first').sum()
duplicate_tweets_fitness

3895

In [62]:
# Number of users having less than 2000 followers
fitness_less2k = fitness_df[fitness_df['followers'] < 2000]
len(fitness_less2k)

7436

In [63]:
# Number of users having more than 2000 followers
fitness_more2k = fitness_df[fitness_df['followers'] > 2000]
len(fitness_more2k)

2563

## Pulling tweets for #travel

In [43]:
# Initialise these variables for #travel
search_words = "#travel OR #traveltips OR #trip OR #travelskills OR #travelblog OR #travelling OR #travellingtheworld OR #vacation OR #travelphotography OR #holidays OR #tour OR #traveler OR #travelgram OR #travelbloggers OR #travelblogging OR #tourism OR #budgettravel"
num_tweets = 200
num_runs = 50
csv_file_name = 'travel_tweets.csv'


# Call the function scrape_tweets
scrape_tweets(search_words, num_tweets, num_runs, csv_file_name)

1 run completed!
2 run completed!
3 run completed!
4 run completed!
5 run completed!
6 run completed!
7 run completed!
8 run completed!
9 run completed!
10 run completed!
11 run completed!
12 run completed!
13 run completed!
14 run completed!
15 run completed!
16 run completed!
17 run completed!
18 run completed!
19 run completed!
20 run completed!
21 run completed!
22 run completed!
23 run completed!
24 run completed!
25 run completed!
26 run completed!
27 run completed!
28 run completed!
29 run completed!
30 run completed!
31 run completed!
32 run completed!
33 run completed!
34 run completed!
35 run completed!
36 run completed!
37 run completed!
38 run completed!
39 run completed!
40 run completed!
41 run completed!
42 run completed!
43 run completed!
44 run completed!
45 run completed!
46 run completed!
47 run completed!
48 run completed!
49 run completed!
50 run completed!
Scraping has completed!
Total time taken to scrape is 771.0666666666667 minutes.

In [45]:
# Load data into a pandas DataFrame
travel_df = pd.read_csv('travel_tweets.csv')
travel_df.head()

,user_name,user_desc,location,following,followers,totaltweets,user_createdts,tweet_createdts,retweet_count,text
0,kthjkuwu,Ë—ËË‹ I love you MORE than yesterday and LESS th...,NaN,1160,302,21909,2015-05-23 17:04:00,2020-10-06 15:21:27,9223,RT @RBW_MAMAMOO: [#ë§ˆë§ˆë¬´]\n\nMAMAMOO 10th\nMini ...
1,nayeon1727228,TwiceğŸ’–ğŸ’–,NaN,130,5,1709,2020-06-21 16:28:11,2020-10-06 15:21:27,9223,RT @RBW_MAMAMOO: [#ë§ˆë§ˆë¬´]\n\nMAMAMOO 10th\nMini ...
2,seoulbyjoon_,ğ‘ºğ’•ğ’“ğ’†ğ’‚ğ’ ğ‘«ğ’€ğ‘µğ’‚ğ’ğ’Šğ‘»ğ‘¬ğŸ’¿ğŸ“¼ ğ‘ºğ’•ğ’“ğ’†ğ’‚ğ’ ğ‘¾ğ’‚ğ’ğ’ğ’‚ ğ‘©ğ’† ğ‘´ğ’šğ’”ğ’†ğ’ğ’‡ ğŸ’—ğŸ’šğŸ’™ğŸ’œ...,s/hâ€¢15â€¢ğŸ‡²ğŸ‡½â€¢CA,474,276,9005,2018-12-04 01:11:37,2020-10-06 15:21:27,9223,RT @RBW_MAMAMOO: [#ë§ˆë§ˆë¬´]\n\nMAMAMOO 10th\nMini ...
3,wheemoonve,moomoo-tomoon-weve fan account | she/her.,01l | broken eng/ina,477,429,16205,2020-07-31 11:58:21,2020-10-06 15:21:26,0,chop chop mumu time to diligently collect star...
4,namchildz,â € â €â € ğƒ-ğŸâ €â€â€”â €ğ˜ğ—¿ğ—®ğ—°ğ—¸ ğŸ¯â €:â €ğ—´ğ—¼ ğ—³ğ˜‚ğ—°ğ—¸ ğ˜†ğ—¼ğ˜‚ğ—¿ğ˜€ğ—²ğ—¹ğ—³ ...,only army,1933,2855,176342,2014-03-07 17:11:01,2020-10-06 15:21:26,9223,RT @RBW_MAMAMOO: [#ë§ˆë§ˆë¬´]\n\nMAMAMOO 10th\nMini ...

In [57]:
travel_df.shape

(10000, 10)

In [58]:
travel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_name        10000 non-null  object
 1   user_desc        8968 non-null   object
 2   location         6326 non-null   object
 3   following        10000 non-null  int64
 4   followers        10000 non-null  int64
 5   totaltweets      10000 non-null  int64
 6   user_createdts   10000 non-null  object
 7   tweet_createdts  10000 non-null  object
 8   retweet_count    10000 non-null  int64
 9   text             10000 non-null  object
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [64]:
# Check for duplicate tweets 

duplicate_tweets_travel = travel_df.duplicated(subset='text', keep='first').sum()
duplicate_tweets_travel

6384

## Tweet Preprocessing

import re
from nltk.tokenize import word_tokenize
from string import punctuation 
from nltk.corpus import stopwords 

class PreProcessTweets:
    def __init__(self):
        self._stopwords = set(stopwords.words('english') + list(punctuation) + ['AT_USER','URL'])
        
    def processTweets(self, list_of_tweets):
        processedTweets=[]
        for tweet in list_of_tweets:
            processedTweets.append((self._processTweet(tweet["text"]),tweet["label"]))
        return processedTweets
    
    def _processTweet(self, tweet):
        tweet = tweet.lower() # convert text to lower-case
        tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', tweet) # remove URLs
        tweet = re.sub('@[^\s]+', 'AT_USER', tweet) # remove usernames
        tweet = re.sub(r'#([^\s]+)', r'\1', tweet) # remove the # in #hashtag
        tweet = word_tokenize(tweet) # remove repeated characters (helloooooooo into hello)
        return [word for word in tweet if word not in self._stopwords]